@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background: radial-gradient(circle at center, #da9f9f 0%, #d8c7c7 70%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  text-shadow: 0px 0px 10px rgb(73, 4, 105);
  font-size: 15.2em;
  line-height: 1.1;
}
