@import "tailwindcss";

@font-face {
  font-family: "Avenue";
  src: url("/public/fonts/Rosaline.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: "Avenue", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background: radial-gradient(circle at center, #745b5b 0%, #f0f0f0 70%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  text-shadow: 0px 0px 10px rgb(193, 114, 201);
  font-family: "Avenue", sans-serif;
  font-size: 15.2em;
  line-height: 1.1;
}
